<div class="modal fade" id="remarksOrderModal" tabindex="-1" aria-labelledby="remarksOrderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="remarksOrderModalLabel">Provide Your Remark</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="remarksOrderForm">
                    <div class="mb-3">
                        <label for="remarkText" class="form-label">Remark</label>
                        <textarea class="form-control" id="remarkText" name="remarkText" rows="5"
                            placeholder="Write your remark here..." required></textarea>
                    </div>

                    <div class="text-end">
                        <button type="button" class="btn btn-primary" id="remarksOrderSubmitBtn">Submit Remark</button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>