<!-- Remarks History Modal -->
<div class="modal fade" id="remarksHistoryModal" tabindex="-1" aria-labelledby="remarksHistoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remarksHistoryModalLabel">Remarks History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date & Time</th>
                                <th>Created By</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody id="remarksHistoryBody">
                            <!-- Remarks will be populated here -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>