<div class="modal fade" id="remarksHistoryModel" tabindex="-1" aria-labelledby="remarksHistoryModelLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="remarksHistoryModelLabel">Remark</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="remarksModalBody">
        <!-- Content injected by JS -->
      </div>
    </div>
  </div>
</div>