<!-- ======= Sidebar ======= -->
<aside style="width: 200px;" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/orders">
                <i class="bi bi-box"></i>
                <span>Orders</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/delivered">
                <i class="bi bi-hand-thumbs-up-fill"></i>
                <span>Delivered Orders</span>
            </a>
        </li>

    </ul>

</aside><!-- End Sidebar-->